@(brass: List[Brass])

@import helper._

@main("Brass Table") {
	<div class="page-header">
		<h1>Brass
		<small>contains all brass instruments.</small>
		</h1>
	</div>
		<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Instrument</th>
			<th>Key</th>
			<th>Clef</th>
			<th>Seat</th>
			<th>Player ID</th>
			<th>Delete Row</th>
			<th>Update Row</th>
		</tr>
		@for(br <- brass) {
			<tr>
			<td>@br.getId()</td>
			<td>@br.getInstrument()</td>
			<td>@br.getKey()</td>
			<td>@br.getClef()</td>
			<td>@br.getSeat()</td>
			<td>@br.getPlayer()</td>
			<td>
			@form(routes.BrassControl.delete(br.getId())) {
				<input type="submit" value="Delete" class="btn btn-danger">
				}
			</td>
			<td>
			@form(routes.BrassControl.createForm()) {
				<input type="submit" value="Update" class="btn btn-success">
			}
			</td>
			</tr>
		}
		</table>
}
