@(message: String)

@main("Databases Project") {
	<div class="header-pad">
		<div class="media">
		<a class="media-left">		
		<img src="http://us.abrsm.org/uploads/tx_templavoila/violin_23.png">
	</a>
	<div class="media-body">
		<h1 class="media-heading" style="padding-top:25px;margin-left:-20px;">Orchestra Database</h1>
		Select a table above to view and edit data. 
		<br>
	</div>

	<div class="col-sm-5 col-xs-6 col-centered fixed-bottom">
	<div class="panel panel-default">
		<div class="panel-heading ">Misc Project Info</div>
		<div class="panel-body">
			<b>Project by:</b> Laura Barber
			<br>
			<b>Date:</b> November 20, 2014
			<br>
			<b>Class:</b> CSCI 334
			<br>
			<br>
			<b>Tools Used:</b> 
			<br>
			<img src="https://www.playframework.com/assets/images/logos/play_full_color.svg" style="width:20%;height:20%;">
			<img src="http://www.mysql.com/common/logos/logo-mysql-110x57.png" style="width:20%;height:20%;">
			<img src="http://logonoid.com/images/bootstrap-logo.png" style="padding-left:10px;width:12%;height:12%;">
		</div>
	</div>
	</div>
</div>
}
