@(Keyboards: List[Keyboard])

@import helper._

@main("Keyboard Table") {
	<div class="page-header">
		<h1>Keyboard
		<small>contains all keyboard instruments.</small>
		</h1>
	</div>
		<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Instrument</th>
			<th>Clef</th>
			<th>Player ID</th>
			<th>Delete Row</th>
			<th>Update Row</th>
		</tr>
		@for(keyboard <- Keyboards) {
			<tr>
			<td>@keyboard.getId()</td>
			<td>@keyboard.getInstrument()</td>
			<td>@keyboard.getClef()</td>
			<td>@keyboard.getPlayer()</td>
			<td>
			@form(routes.KeyboardControl.delete(keyboard.getId())) {
				<input type="submit" value="Delete" class="btn btn-danger">
				}
			</td>
			<td>
			@form(routes.KeyboardControl.createForm()) {
				<input type="submit" value="Update" class="btn btn-success">
			}
			</td>
			</tr>
		}
		</table>
}
