@(keyboardUpdateForm: Form[Keyboard], id: Int)

@import helper._

@main("Update") {
	<div class="header-pad form-group col-sm-3 col-xs-6 col-centered">
		@form(routes.KeyboardControl.update(id)) {
		<fieldset>
				@inputText(keyboardUpdateForm("instrument"), '_label -> "Instrument", 'class -> "form-control")
				@inputText(keyboardUpdateForm("clef"), '_label -> "Clef", 'class -> "form-control")
				@inputText(keyboardUpdateForm("player_id"), '_label -> "Player Id", 'class -> "form-control")
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.KeyboardControl.keyboard()" class="btn btn-default">Cancel</a>
		</div>
		}
	</div>
}