@(title: String)(content: Html)

<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<html lang="en">
   <!-- Nav tabs -->
	<ul class="nav nav-tabs">
	  <li role="presentation" class="@("active".when(request.path == controllers.routes.Application.players().toString()))">
	  	<a href="players">Players</a></li>
	  <li role="presentation" class="@("active".when(request.path == controllers.routes.Application.orchestra().toString()))">
	  	<a href="orchestra">Orchestra</a></li>
	  <li role="presentation" class="@("active".when(request.path == controllers.routes.Application.brass().toString()))">
	  	<a href="brass">Brass</a></li>
	  <li role="presentation" class="@("active".when(request.path == controllers.routes.Application.woodwind().toString()))">
	  	<a href="woodwind">Woodwind</a></li>
	  <li role="presentation" class="@("active".when(request.path == controllers.routes.Application.keyboard().toString()))">
	  	<a href="keyboard">Keyboard</a></li>
	  <li role="presentation" class="@("active".when(request.path == controllers.routes.Application.percussion().toString()))">
	  	<a href="percussion">Percussion</a></li>
	  <li role="presentation" class="@("active".when(request.path == controllers.routes.Application.symphonicstring().toString()))">
	  	<a href="symphonicstring">Symphonic Strings</a></li>

	</ul>

    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
