@(orchestraUpdateForm: Form[Orchestra])

@import helper._

@main("Update") {
	<div class="header-pad">
		@Orchestra.getId()
		@form(routes.OrchestraControl.update(1)) {
		<fieldset>
				@inputText(orchestraUpdateForm("name"), '_label -> "Name")
				@inputText(orchestraUpdateForm("type"), '_label -> "Type")
				@inputText(orchestraUpdateForm("num_players"), '_label -> "Num Players")
				@inputText(orchestraUpdateForm("style"), '_label -> "Style")
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> 
			<a href="@routes.Application.index()" class="btn">Cancel</a>
		</div>
		}
	</div>
}