@(percussions: List[Percussion])

@import helper._

@main("Percussion Table") {
	<div class="page-header">
		<h1>Percussion
		<small>contains all percussion instruments.</small>
		</h1>
	</div>
		<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Instrument</th>
			<th>Type</th>
			<th>Player ID</th>
			<th>Delete Row</th>
			<th>Update Row</th>
		</tr>
		@for(percussion <- percussions) {
			<tr>
			<td>@percussion.getId()</td>
			<td>@percussion.getInstrument()</td>
			<td>@percussion.getType()</td>
			<td>@percussion.getPlayer()</td>
			<td>
			@form(routes.PercussionControl.delete(percussion.getId())) {
				<input type="submit" value="Delete" class="btn btn-danger">
				}
			</td>
			<td>
			@form(routes.PercussionControl.createForm()) {
				<input type="submit" value="Update" class="btn btn-success">
			}
			</td>
			</tr>
		}
		</table>
}
