@(percussionForm: Form[Percussion])

@import helper._

@main("Update") {
	<div class="header-pad form-group col-sm-3 col-xs-6 col-centered">
		@form(routes.PercussionControl.save()) {
		<fieldset>
				@inputText(percussionForm("instrument"), '_label -> "Instrument", 'class -> "form-control")
				@inputText(percussionForm("type"), '_label -> "Type", 'class -> "form-control")

				@select(
					percussionForm("player_id"),
					options(Players.options()),
					'_label -> "Player", '_default -> "-- Choose a Player --",
					'_showConstraints -> false, 'class -> "form-control"
				)
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.PercussionControl.percussion()" class="btn btn-default">Cancel</a>
		</div>
		}
	</div>
}