@(percussionUpdateForm: Form[Percussion], id: Int)

@import helper._

@main("Update") {
	<div class="header-pad form-group col-sm-3 col-xs-6 col-centered">
		@form(routes.PercussionControl.update(id)) {
		<fieldset>
				@inputText(percussionUpdateForm("instrument"), '_label -> "Instrument", 'class -> "form-control")
				@inputText(percussionUpdateForm("type"), '_label -> "Type", 'class -> "form-control")
				@inputText(percussionUpdateForm("player_id"), '_label -> "Player Id", 'class -> "form-control")
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.PercussionControl.percussion()" class="btn btn-default">Cancel</a>
		</div>
		}
	</div>
}