@(players: List[Players])(error: String)(errmsg: String)


@import helper._

@main("Players") {
	<div class="page-header">
		<h1>Players
		<small>contains all player information.</small>
		</h1>
	</div>
	<div class="alert alert-danger alert-dismissible" role="alert" style="display:@Html(error);">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		@errmsg
	</div>
		<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Orchestra</th>
			<th>Delete Row</th>
			<th>Update Row</th>
		</tr>
		@for(player <- players) {
			<tr>
			<td>@player.getId()</td>
			<td>@player.getFirst()</td>
			<td>@player.getLast()</td>
			<td>@player.getEmail()</td>
			<td>@player.getPhone()</td>
			<td>@player.getOrchestra().getName()</td>
			<td>
			@form(routes.PlayersControl.delete(player.getId())) {
				<input type="submit" value="Delete" class="btn btn-danger">
				}
			</td>
			<td>
			@form(routes.PlayersControl.createUpdateForm(player.getId())) {
				<input type="submit" value="Update" class="btn btn-success">
			}
			</td>
			
			</tr>
		}
		</table>
}