@(playersUpdateForm: Form[Players])

@import helper._

@main("Update") {
	<div class="header-pad">
		@form(routes.PlayersControl.update(1)) {
		<fieldset>
				@inputText(playersUpdateForm("first_name"), '_label -> "Last Name")
				@inputText(playersUpdateForm("last_name"), '_label -> "Last Name")
				@inputText(playersUpdateForm("email"), '_label -> "Email")
				@inputText(playersUpdateForm("telephone"), '_label -> "Phone")
				@inputText(playersUpdateForm("orchestra_id"), '_label -> "Orchestra Id")
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.Application.index()" class="btn">Cancel</a>
		</div>
		}
	</div>
}