@(symphonicstringForm: Form[SymphonicString])

@import helper._

@main("Update") {
	<div class="header-pad form-group col-sm-3 col-xs-6 col-centered">
		@form(routes.SymphStringControl.save()) {
		<fieldset>
				@inputText(symphonicstringForm("instrument"), '_label -> "Instrument", 'class -> "form-control")
				@inputText(symphonicstringForm("section"), '_label -> "Section", 'class -> "form-control")
				@inputText(symphonicstringForm("seat"), '_label -> "Seat", 'class -> "form-control")
				@inputText(symphonicstringForm("clef"), '_label -> "Clef", 'class -> "form-control")
				
				@select(
					symphonicstringForm("player_id"),
					options(Players.options()),
					'_label -> "Player", '_default -> "-- Choose a Player --",
					'_showConstraints -> false, 'class -> "form-control"
				)
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.SymphStringControl.symphonicstring()" class="btn btn-default">Cancel</a>
		</div>
		}
	</div>
}