@(symphonicstringUpdateForm: Form[SymphonicString], id: Int)

@import helper._

@main("Update") {
	<div class="header-pad form-group col-sm-3 col-xs-6 col-centered">
		@form(routes.SymphStringControl.update(id)) {
		<fieldset>
				@inputText(symphonicstringUpdateForm("instrument"), '_label -> "Instrument", 'class -> "form-control")
				@inputText(symphonicstringUpdateForm("section"), '_label -> "Section", 'class -> "form-control")
				@inputText(symphonicstringUpdateForm("seat"), '_label -> "Seat", 'class -> "form-control")
				@inputText(symphonicstringUpdateForm("clef"), '_label -> "Clef", 'class -> "form-control")
				
				@select(
					symphonicstringUpdateForm("player_id"),
					options(Players.options()),
					'_label -> "Player", '_default -> SymphonicString.find.byId(id).getPlayer().getName(),
					'_showConstraints -> false, 'class -> "form-control"
				)
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.SymphStringControl.symphonicstring()" class="btn btn-default">Cancel</a>
		</div>
		}
	</div>
}