@(orchestraForm: Form[Orchestra])

@import helper._

@main("Update") {
	
	@form(routes.Application.update()) {
	<fieldset>
			@inputText(orchestraForm("name"), '_label -> "Name")
			@inputText(orchestraForm("type"), '_label -> "Type")
			@inputText(orchestraForm("num_players"), '_label -> "Num Players")
			@inputText(orchestraForm("style"), '_label -> "Style")
	</fieldset>

	<div class="actions">
		<input type="submit" value="Save" class="btn btn-primary"> or
		<a href="@routes.Application.index()" class="btn">Cancel</a>
		
	</div>
	}
}