@(woodwindUpdateForm: Form[Woodwind])

@import helper._

@main("Update") {
	<div class="header-pad">
		@form(routes.WoodwindControl.update(1)) {
		<fieldset>
				@inputText(woodwindUpdateForm("instrument"), '_label -> "Instrument")
				@inputText(woodwindUpdateForm("clef"), '_label -> "Clef")
				@inputText(woodwindUpdateForm("player_id"), '_label -> "Player Id")
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.Application.index()" class="btn">Cancel</a>
		</div>
		}
	</div>
}