@(woodwindForm: Form[Woodwind])

@import helper._
@import helper.twitterBootstrap._

@main("Update") {
	<div class="header-pad">
		@form(routes.WoodwindControl.save()) {
		<fieldset>
				@inputText(woodwindForm("instrument"), '_label -> "Instrument")
				@inputText(woodwindForm("clef"), '_label -> "Clef")
				@inputText(woodwindForm("player_id"), '_label -> "Player Id")
		</fieldset>

		<div class="actions">
			<input type="submit" value="Save" class="btn btn-primary"> or
			<a href="@routes.Application.index()" class="btn">Cancel</a>
		</div>
		}
	</div>
}